[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-logging = "*"
mock = "*"
pylint = "*"

[packages]
boto = "*"
coloredlogs = "*"
python-dateutil = "*"
humanfriendly = "*"
pymysql = "*"
