[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-logging = "*"
mock = "*"
pylint = "*"
"flake8" = "*"
"flake8-pep3101" = "*"
"flake8-string-format" = "*"

[packages]
boto = "*"
coloredlogs = "*"
python-dateutil = "*"
humanfriendly = "*"
PyMySQL = "*"
phply = "*"
dsnparse = "*"
